.cart {
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    max-width: 800px;
    padding: 20px 0;
    margin: 0 auto;
}

.cart__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 5px 5px black;
    gap: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cart__container {
    padding: 20px;
    box-shadow: 1px 1px 2px rgb(114, 47, 47);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart__containerTotal {
    gap: 40px;
    padding: 20px 0;
    margin: 0 20px;
}

.cart__totalInfo {
    display: flex;
    justify-content: space-between;
}

.cart__totalTitle {
    color: var(--light-gray);
}

.cart__total {
    margin-top: 10px;
}

.cart__checkout {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
}

.cart__checkout:hover {
    background-color: rgb(187, 15, 15);
    box-shadow: 1px 3px 3px black;
    font-weight: bold;
}


@media (min-width: 550px) {
    .cart__containerTotal {
        padding: 20px;
        margin: 0;
    }
    .cart__totalInfo {
        font-size: 22px;
    }
    .cart__checkout { 
        font-size: 20px;
    }
    .cart__title {

        font-size: 35px;
        gap: 25px;
        margin-bottom: 20px;
    }
}