.login {
    background-color: var(--ultra-ligth-gray);
    min-height: calc(100vh - 42px);
    display: grid;
    place-content: center;
    background-image: url('/images/logo1.gif');
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
}

.login-logged__container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: min(90vw, 400px);
    box-shadow: 1px 3px 2px black;
    border: 1px solid var(--primary);
}

.login-logged__icon {
    font-size: 80px;
    color: var(--primary);
    rotate: 50deg;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {transform: rotate(-100deg);}
}

.login-logged__name{
    font-size: 15px;
    margin: 20px 0;
}

.login-logged__btn {
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:  backgraund 200ms ease;
}

.login-logged__btn:hover {
    background-color: rgb(187, 15, 15);
}


/* Estilos del contenedor cuando el ususario aun no esta logueado */
.login-form__container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: var(--dark-gray);
    width: min(90vw, 350px);
    box-shadow: 1px 1px 2px black;
    border: 1px solid var(--primary);
}

.login-form__title {
    font-size: 24px;
    font-weight: 500;
}

.login-form__containerTest {
    background-color: #d7f4fc;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.login-form__titleTest {
    text-align: center;
    font-size: 29px;
}

.login-form__emailTest, .login-form__passwordTest {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.login-form__divInfo {
    margin-top: 20px;
}

.login-form__label {
    display: block;
}

.login-form__input {
    padding: 8px;
    width: 100%;
    border: 2px solid var(--light-gray);
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

.login-form__btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    cursor: pointer;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-form__btn:hover {
    background-color: rgb(187, 15, 15);
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
}

.login-form__footerText {
    font-size: 14px;
}

.login-form__footerText span {
    color: #3cb2f9;
    cursor: pointer;
}

.login-form__footerText span:hover {
    color: #0892e7;
}
